.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  margin-top: 10%;
  margin-bottom: 10%;
}

.signup-form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

.signup-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.signup-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

.signup-inputs {
  width: 100%;
}

.input-group2 {
  position: relative;
  margin-bottom: 20px;
}

.input-group2 input {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-group2 i {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #888;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #218838;
}

.login-link {
  margin-top: 15px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .signup-form {
    width: 90%;
  }
}

@media (max-width: 480px) {

  .signup-container{
    margin-top: 40%;
  } 
  .signup-form {
    padding: 20px;
  }

  .signup-title {
    font-size: 20px;
  }

  .signup-button {
    font-size: 14px;
  }
}
